# Node.js dependencies
node_modules/

# TypeScript output
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*


# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage reports
coverage/

# Configurações temporárias do sistema
*.swp
*.temp
*.tmp
